*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-image: url("A6000000.png");
}

#header{
    background-color: black;
    color: orange;
    text-align: center;
    font-family: Helvetica;
    padding: 20px;
    margin-bottom: 10px;
}

#champ_pic {
	float: right;
	position: relative;
}

#champ_square {
	float: left;
	margin-right:5px;
}
#champ_header {
	background-color: black;
	width: 65%;
	height: 120px;
	float: left;
	margin: 0px;
	margin-bottom: 5px;

}
#champ_name {	
	font-size: 60px;
	color: red;
	margin: 0px;
	margin-bottom: 5px;
	padding-left: 25px;
}

#champ_title {
	font-size: 24px;
	color: yellow;
	margin: 0px;
	padding-left: 50px;
}

#lore_box {
	background-color: #A3A375;
	margin-top: 175;
	height: 450;
	width: 945;
	position: relative;
	top: -130;
}

#champ_tabs {
	background-color: blue;
}

#champ_lore {
	font-size: 16px;
	padding-right: 25px;
	padding-top: 25px;	
	padding-left: 25px;
	height: 355px;
	overflow: auto;
}